@import url('https://fonts.googleapis.com/css2?family=Freeman&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    /* Material Color */
    --primary: #00e1ae;
    --on-primary: #003829;
    --primary-container: #00513d;
    --on-primary-container: #46fec9;
    --secondary: #b2ccc0;
    --on-secondary: #1e352c;
    --secondary-container: #344c42;
    --on-secondary-container: #cee9dc;
    --tertiary: #a7cce1;
    --on-tertiary: #0b3445;
    --tertiary-container: #264b5d;
    --on-tertiary-container: #c3e8fe;
    --error: #ffb4ab;
    --on-error: #690005;
    --error-container: #93000a;
    --on-error-container: #ffb4ab;
    --background: #191c1b;
    --background-transparent: #191c1b99;
    --on-background: #e1e3e0;
    --surface: #191c1b;
    --on-surface: #e1e3e0;
    --surface-variant: #404944;
    --on-surface-variant: #bfc9c3;
    --outline: #89938d;
    --outline-variant: #404944;
    --shadow: #000000;
    --scrim: #000000;
    --inverse-surface: #e1e3e0;
    --inverse-on-surface: #2e312f;
    --inverse-primary: #006c52;



    /* Other variables */
    --border-radius-large: 6px;
    --border-radius-normal: 4px;
    --box-shadow-normal: 0 2px 4px var(--shadow);
    --box-shadow-large: 0 4px 8px var(--shadow);
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: var(--on-background);
    font-family: "Roboto Condensed", sans-serif;
    background-color: var(--background);
}

.text-center {
    text-align: center;
}

.underline {
    border-bottom: 1px solid #333;
}

h1,
h2,
h3 {
    font-family: "Freeman", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--on-background);
}

h1 {
    font-size: 160%;
}

a {
    outline: 0;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-transparent);
    backdrop-filter: blur(12px);
    padding: 0 0.8rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    height: 46px;
    box-shadow: var(--box-shadow-normal);
}

header a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

#logo-image {
    width: 30px;
    height: 30px;
    margin-right: 2px;
}

#menu {
    font-size: 110%;
    letter-spacing: 2px;
    list-style-type: none;
}

#menu>li {
    margin: 0.5rem 0rem;
    padding: 0.2rem 1.8rem;
}

.active {
    background-color: var(--primary);
    color: var(--inverse-on-surface);
    border-radius: var(--border-radius-normal);
    box-shadow: var(--box-shadow-normal);
}

nav {
    position: absolute;
    background-color: var(--background-transparent);
    backdrop-filter: blur(12px);
    width: 96%;
    padding: 0 0.5rem;
    top: 100%;
    box-shadow: var(--box-shadow-large);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.6s;
    margin: 10px auto;
    border-radius: var(--border-radius-large);
}

/* Nav toggle */
#nav-toggle:checked~nav {
    max-height: 800px;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}



/* Main content */
main {
    flex: 1 0 auto;
    margin-top: 46px;
    /* background-color: var(--background); */
    background-image: linear-gradient(var(--background), var(--surface-variant));
}


/* Hero */
#hero_image_container {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.fade {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    object-fit: cover;
    animation: fade 120s infinite;
}

#img_1 {
    animation: initialFade 120s infinite;
}

#img_2 {
    animation-delay: 24s;
}

#img_3 {
    animation-delay: 48s;
}

#img_4 {
    animation-delay: 72s;
}

#img_5 {
    animation-delay: 96s;
}

@keyframes initialFade {
    0% {
        opacity: 1;
        transform: scale(1);
    }

    0%,
    5% {
        filter: sepia(100%);
    }

    5%,
    20% {
        opacity: 1;
    }

    20%,
    25% {
        filter: sepia(0%);
        transform: scale(1.2);
    }

    25%,
    100% {
        opacity: 0;
    }
}

@keyframes fade {
    0% {
        opacity: 0;
        transform: scale(1);
    }

    0%,
    5% {
        filter: sepia(100%);
    }

    5%,
    20% {
        opacity: 1;
    }

    20%,
    25% {
        filter: sepia(0%);
        transform: scale(1.2);
    }

    25%,
    100% {
        opacity: 0;
    }
}

/* Hero cover text */
#hero-cover-text {
    position: absolute;
    background: var(--background-transparent);
    backdrop-filter: blur(12px);
    top: 46px;
    right: 0;
    margin: 20px;
    padding: 10px;
    border-radius: var(--border-radius-large);
    box-shadow: var(--box-shadow-normal);
}


/* Sections */

#introduction,
#destenations,
#guide,
#testimonial {
    width: 90%;
    max-width: 600px;
    margin: 40px auto;
}

#introduction article,
#destenations article {
    margin: 15px 0;
}

section>h2 {
    margin-bottom: 25px;
    font-size: 200%;
}

article>p {
    margin-top: 5px;
    padding: 0 5px;
}

article>ol {
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 0 25px;
}

article li {
    margin: 10px 0;
}

#intro_video {
    position: relative;
    width: 100%;
    border-radius: var(--border-radius-large);
    box-shadow: var(--box-shadow-normal);
}


/* Carousel */
.carousel-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    width: 100%;
    margin-top: 15px;
    margin-bottom: -10px;
}

.carousel {
    width: 100%;
    overflow: hidden;
    border-radius: var(--border-radius-large);
    box-shadow: var(--box-shadow-normal);
    aspect-ratio: 4 / 3;
}

.carousel-viewport {
    display: flex;
    width: 400%;
    transition: transform 0.5s ease;
}

.carousel-slide {
    flex: 1 0 25%;
}

.carousel-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.carousel-controls {
    position: relative;
    display: flex;
    bottom: 30px;
    justify-content: space-between;
    width: 100%;
    /* padding: 0 10px; */
}

.carousel-button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 90%;
    background-color: var(--background-transparent);
    backdrop-filter: blur(12px);
    flex: 1;
    margin: 0 5px;
    height: 25px;
    cursor: pointer;
    border-radius: var(--border-radius-normal);
    box-shadow: var(--box-shadow-normal);
    transition: 0.5s;
}

.carousel-button:hover {
    background-color: var(--primary);
    color: var(--inverse-on-surface);
    transition: 0.5s;
}

input[type="radio"] {
    display: none;
}

#past1:checked~.carousel-viewport,
#future1:checked~.carousel-viewport {
    transform: translateX(0%);
}

#past2:checked~.carousel-viewport,
#future2:checked~.carousel-viewport {
    transform: translateX(-25%);
}

#past3:checked~.carousel-viewport,
#future3:checked~.carousel-viewport {
    transform: translateX(-50%);
}

#past4:checked~.carousel-viewport,
#future4:checked~.carousel-viewport {
    transform: translateX(-75%);
}

/* Testimonial */
#testimonial>div {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
}

.card {
    display: flex;
    width: 100%;
    justify-content: space-around;
    background-color: var(--primary-container);
    border-radius: var(--border-radius-large);
    padding: 10px;
    box-shadow: var(--box-shadow-normal);
}

.card>img {
    width: 25%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}

.card>p {
    width: 65%;
}

/* Review Page Content */
#review-main {
    /* background-image: linear-gradient(var(--background), var(--surface-variant)); */
    padding: 20px;
}

#user-review,
#user-photos {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 40px;
}

.review-card {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    justify-content: space-around;
    overflow: hidden;
    background-color: var(--primary-container);
    border-radius: var(--border-radius-large);
    box-shadow: var(--box-shadow-normal);
}

.review-card img {
    width: 100%;
    height: auto;
    display: block;
}

.card-content {
    padding: 20px;
}

.card-content .username {
    font-size: 14px;
    color: var(--on-surface);
    margin-bottom: 10px;
    font-weight: bold;
}

.card-content p {
    font-size: 16px;
    color: var(--on-surface);
    line-height: 1.5;
}

#user-photos img {
    width: 100%;
    max-width: 400px;
    height: auto;
    display: block;
    border-radius: var(--border-radius-large);
    box-shadow: var(--box-shadow-normal);
}


/* Booking Page Content */
#booking {
    background: url("../images/time_machine_1920x1080.webp") no-repeat center center / cover;
    width: 100%;
    height: 100vh;
}



/* Footer */
#social-networks {
    display: flex;
    justify-content: space-around;
    list-style: none;
    text-align: center;
    padding: 10px;
    background-color: var(--on-surface-variant);
}

#social-networks i {
    font-size: 200%;
    padding: 6%;
    color: var(--surface-variant);
}


/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /* Header */
    nav {
        position: relative;
        background-color: #0000;
        backdrop-filter: none;
        box-shadow: none;
        max-height: none;
        transition: none;
        width: fit-content;
        overflow: visible;
        margin: 0;
        padding: 0;
        left: 0;
        top: 0;
    }




    header {
        height: 56px;
    }

    #menu {
        display: flex;
        top: 0;
    }

    #menu>li {
        margin: 0.5rem 0.2rem;
        padding: 0.2rem 0.6rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo-image {
        width: 36px;
        height: 36px;
        margin-right: 3px;
    }

    main {
        margin-top: 56px;
    }

    #hero-cover-text {
        top: 56px;
    }

    .carousel {
        aspect-ratio: 16 / 9;
    }


    #testimonial {
        max-width: none;
    }

    #testimonial>div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .card {
        flex: 0 0 48%;
    }

    #user-review,
    #user-photos {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .review-card {
        flex: 0 0 48%;
    }
}

/* Large devices (laptops and desktops, 992px) */
@media screen and (min-width: 992px) {

    header:hover {
        background-color: var(--background);
        transition: 0.5s;
    }

    header {
        transition: 0.5s;
    }

    #menu>li:hover {
        background-color: var(--primary);
        color: var(--inverse-on-surface);
        border-radius: var(--border-radius-normal);
        transition: 0.5s;
        box-shadow: var(--box-shadow-large);
    }

    #hero_image_container {
        height: 600px;
    }

    #introduction,
    #guide {
        max-width: 900px;
    }

    #destenations {
        width: 90%;
        max-width: none;
    }

    #destenation-container>div {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    #future {
        flex-direction: row-reverse;
        border-top: 1px solid #333;
    }

    .carousel-container {
        width: 49%;
    }

    #destenation-container article {
        width: 49%;
    }

    .carousel {
        aspect-ratio: 4 / 3;
    }

    .review-card:hover,
    #user-photos img:hover {
        transform: scale(1.1);
        filter: brightness(120%);
        transition: 0.5s;
        box-shadow: var(--box-shadow-large);
    }

    .review-card,
    #user-photos img {
        transition: 0.5s;
    }

    #review-main {
        padding: 40px;
    }


    #booking {
        background: url("../images/time_machine_3072x1728.webp") no-repeat center center / cover;
    }
}

/* Extra Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 1200px) {

    #introduction,
    #guide {
        max-width: 1400px;
    }

    .card {
        flex: 0 0 30%;
    }
}